[parameters]
rmax = 1.0
spx = 5
length = 10
spy = 3
width = 10
maxtimes = 10000
maxsteps = 200  
ep = 50
xmajorLocator = 10
xminorLocator = 10
ymajorLocator = 20.0
yminorLocator = 10.0

figureparmeter = normalfigure
normalfigure = normalfigure
figure = figure_leftcorner
figure_target = figure_targetArea
figure_ontheway = figure_ontheway
figure_ontheway_goal_1_4 = figure_ontheway_goal_1_4

mapparameter = mapfileForWorld

mapfileForWorld = map_goal_3_6_size_20_20.txt
mapleftcorner = map.txt
mapontheway = map_goal_3_7_size_20_20.txt
mapleftcorner_1_4 = map_goal_1_4_size_20_20.txt
map10_10 = map_10_10.txt
map10_10_1_8 = map_goal_1_8_size_10_10.txt
map10_10_1_7 = map_goal_1_7_size_10_10.txt
map30_30_3_6 = map_goal_3_6_size_30_30.txt

[map]
goalx = 3
goaly = 6
rows = 30
cols = 30